
    {{ form_start(form) }}       

        <div class="form-group">            
            {{ form_row(form.title, {'label': 'Заголовок', 'label_attr': {'class': 'form-label'}, 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.text, {'label': 'Основной текст', 'label_attr': {'class': 'form-label'}, 'attr': {'class': 'form-control', 'rows' : '6'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.file_1, {'label': 'Загрузить файл (3 файла)', 'label_attr': {'class': 'form-label'}, 'attr': {'class': 'form-control', 'type' : 'file', 'data-buttonText': '111'}}) }}
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn {{ button_color|default('btn-outline-primary') }}  mt-3" >{{ button_label|default('Сохранить') }}</button>
        </div>
        
        
    {{ form_end(form) }}







